In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("chinook.db")
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)

print(customers_df.head(10))
conn.close()

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [4]:
iris_df = pd.read_json("iris.json")
print("Shape of the iris.json: ", iris_df.shape)
print("Columns of the iris.json: ", iris_df.columns)

Shape of the iris.json:  (150, 5)
Columns of the iris.json:  Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

In [5]:
excel_df = pd.read_excel("titanic.xlsx")
print(excel_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
df_flights = pd.read_parquet("flights.snappy.parquet")
print(df_flights.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297605 entries, 0 to 297604
Columns: 109 entries, Year to Div5TailNum
dtypes: object(109)
memory usage: 247.5+ MB
None

In [11]:
df_movies = pd.read_csv("movie.csv")
print(df_movies.sample(10))

      color    director_name  num_critic_for_reviews  duration  \
1909  Color     Andy Fickman                    91.0     105.0
1381  Color   Andrew Bergman                    63.0      95.0
4539  Color      James Algar                   116.0      70.0
3229  Color      Tom Holland                   142.0      87.0
4711  Color   Gavin O'Connor                    64.0     102.0
4109  Color   James Ponsoldt                   220.0      95.0
2751  Color  Martin Scorsese                    59.0     136.0
4740  Color    Miguel Arteta                    59.0      96.0
1989  Color  Guillaume Canet                   118.0     134.0
1294  Color     Danny DeVito                    78.0      89.0

      director_facebook_likes  actor_3_facebook_likes            actor_2_name  \
1909                     99.0                   960.0  Alexandra Breckenridge
1381                     31.0                   450.0             Nathan Lane
4539                     11.0                     8.0          Donnie Dunagan
3229                     85.0                   118.0            Alex Vincent
4711                    149.0                   276.0            Janet McTeer
4109                     53.0                   478.0    Jennifer Jason Leigh
2751                  17000.0                   213.0           Liza Minnelli
4740                     44.0                   129.0              Mike White
1989                      0.0                    92.0          Benoît Magimel
1294                      0.0                   500.0          Amber Valletta

      actor_1_facebook_likes        gross                       genres  ...  \
1909                 17000.0   33687630.0               Comedy|Romance  ...
1381                   944.0    2954405.0     Biography|Comedy|Romance  ...
4539                    16.0  102797150.0       Animation|Drama|Family  ...
3229                   311.0   33244684.0               Fantasy|Horror  ...
4711                   409.0    1281176.0                 Comedy|Drama  ...
4109                  8000.0    6851969.0         Comedy|Drama|Romance  ...
2751                 22000.0          NaN  Drama|Music|Musical|Romance  ...
4740                   625.0    1050600.0                 Comedy|Drama  ...
1989                   541.0     183662.0                 Comedy|Drama  ...
1294                  1000.0    9652000.0                       Comedy  ...

     num_user_for_reviews language  country  content_rating      budget  \
1909                261.0  English      USA           PG-13  20000000.0
1381                 64.0  English      USA               R  36000000.0
4539                136.0  English      USA        Approved         NaN
3229                281.0  English      USA               R   9000000.0
4711                 73.0  English      USA           PG-13    312000.0
4109                178.0  English      USA               R   2500000.0
2751                 75.0  English      USA              PG  14000000.0
4740                136.0  English      USA               R    250000.0
1989                 48.0   French   France       Not Rated  25000000.0
1294                147.0  English      USA           PG-13  40000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
1909      2006.0                 1000.0        6.4          1.85
1381      2000.0                  886.0        5.3          1.85
4539      1942.0                   12.0        7.4          1.33
3229      1988.0                  189.0        6.5          1.85
4711      1999.0                  277.0        6.7          1.85
4109      2013.0                 1000.0        7.1          2.35
2751      1977.0                  740.0        6.7          1.66
4740      2000.0                  487.0        6.6          1.85
1989      2010.0                  173.0        7.1          2.35
1294      2003.0                  627.0        5.8          1.85

     movie_facebook_likes
1909                    0
1381                  133
4539                    0
3229                    0
4711                  121
4109                10000
2751                  932
4740                  170
1989                    0
1294                    0

[10 rows x 28 columns]