In [1]:
import pandas as pd

iris_db = pd.read_json("iris.json")
iris_db.columns = iris_db.columns.str.lower()
iris_db.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species'], dtype='object')

In [2]:
iris_db_sel = iris_db[['sepallength', 'sepalwidth']]
print(iris_db_sel.head())

   sepallength  sepalwidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [3]:
titanic_df = pd.read_excel("titanic.xlsx")
titanic_df_filt = titanic_df[titanic_df['Age'] > 30]
print(titanic_df_filt.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S

In [4]:
gender_counts = titanic_df['Sex'].value_counts()
print(gender_counts)

Sex
male      577
female    314
Name: count, dtype: int64

In [6]:
flights_df = pd.read_parquet("flights.snappy.parquet")
flights_df_sel = flights_df[['origin', 'dest', 'carrier']]
print(flights_df_sel.head())

KeyError: "None of [Index(['origin', 'dest', 'carrier'], dtype='object')] are in the [columns]"

In [10]:
movies_df = pd.read_csv("movie.csv")
long_movies = movies_df[movies_df['duration'] > 120]

In [11]:
sorted_movies = movies_df.sort_values(by='director_facebook_likes', ascending=False)
print(sorted_movies.head())

      color         director_name  num_critic_for_reviews  duration  \
3603  Color  Joseph Gordon-Levitt                   364.0      90.0
120   Color     Christopher Nolan                   478.0     128.0
1057  Color     Christopher Nolan                   185.0     118.0
96    Color     Christopher Nolan                   712.0     169.0
97    Color     Christopher Nolan                   642.0     148.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
3603                  23000.0                   694.0  Scarlett Johansson
120                   22000.0                 11000.0         Liam Neeson
1057                  22000.0                   319.0       Maura Tierney
96                    22000.0                  6000.0       Anne Hathaway
97                    22000.0                 23000.0           Tom Hardy

      actor_1_facebook_likes        gross                            genres  \
3603                 23000.0   24475193.0              Comedy|Drama|Romance
120                  23000.0  205343774.0                  Action|Adventure
1057                 14000.0   67263182.0            Drama|Mystery|Thriller
96                   11000.0  187991439.0            Adventure|Drama|Sci-Fi
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller

      ... num_user_for_reviews language  country  content_rating       budget  \
3603  ...                314.0  English      USA               R    3000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1057  ...                651.0  English      USA               R   46000000.0
96    ...               2725.0  English      USA           PG-13  165000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
3603      2013.0                19000.0        6.6          2.35
120       2005.0                14000.0        8.3          2.35
1057      2002.0                  509.0        7.2          2.35
96        2014.0                11000.0        8.6          2.35
97        2010.0                27000.0        8.8          2.35

     movie_facebook_likes
3603                33000
120                 15000
1057                    0
96                 349000
97                 175000

[5 rows x 28 columns]