In [3]:
import pandas as pd

iris_df = pd.read_json("iris.json")
iris_stats = iris_df.describe().T[['mean', '50%', 'std']]
iris_stats.rename(columns={'50%' : 'median'}, inplace=True)
iris_stats

                 mean  median       std
sepalLength  5.843333    5.80  0.828066
sepalWidth   3.057333    3.00  0.435866
petalLength  3.758000    4.35  1.765298
petalWidth   1.199333    1.30  0.762238

In [6]:
excel_df = pd.read_excel("titanic.xlsx")
min_age = excel_df['Age'].min()
max_age = excel_df['Age'].max()
sum_age = excel_df['Age'].sum()
print("Min age: ", min_age)
print("Max age: ", max_age)
print("Sum age: ", sum_age)

Min age:  0.42
Max age:  80.0
Sum age:  21205.17

In [ ]:
movies_df = pd.read_csv("movie.csv")
movies_sorted = movies_df.sort_values(by='director_facebook_likes', ascending=False)
print(movies_sorted.head())
longest_movies = movies_df[['movie_title', 'duration', 'director_name']].nlargest(5, 'duration')
print(longest_movies)

                   movie_title  duration        director_name
1694                   Trapped     511.0                  NaN
2436                    Carlos     334.0                  NaN
1487       Blood In, Blood Out     330.0      Taylor Hackford
1134             Heaven's Gate     325.0       Michael Cimino
3254  The Legend of Suriyothai     300.0  Chatrichalerm Yukol